<!--<div class="name-row"> <div class="name-wrapper"><div>{{data.e}}</div> <div>{{data.date}}</div></div> <br> {{data.yTitle}}</div>-->
<!--<div class="button-row">-->
<!--  <button-->
<!--    [ngClass]="isActive.topWinning ? 'active' : ''"-->
<!--    (click)="sortTable('win')"-->
<!--    class="winning-sort"-->
<!--    mat-button>Top Winning</button>-->
<!--  <button-->
<!--    [ngClass]="isActive.notSoWinning ? 'active' : ''"-->
<!--    (click)="sortTable('loose')"-->
<!--    class="loosing-sort"-->
<!--    mat-button>Not So Winning</button>-->
<!--</div>-->
<div class="game-info-video-block">
  <div class="title-row">
    <div class="title-link">
      {{data.e}}
    </div>
    <div class="title-date">
      {{data.date | date:'shortDate'}}
    </div>
  </div>
  <div class="game-name">
    {{data.yTitle}}
  </div>
  <div class="video-frame" *ngIf="youTubeLink">
    <iframe class="e2e-iframe-trusted-src" width="100%" height="100%" [src]="youTubeLink"></iframe>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td class="td" mat-cell *matCellDef="let item; let i = index">
      {{ i + 1 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="player">
    <th mat-header-cell *matHeaderCellDef >
    </th>
    <td class="td" mat-cell [routerLink]="['/user-info/', item.player]" *matCellDef="let item">
      {{ item.player }}
    </td>
  </ng-container>

  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td class="td"
        [ngClass]="item.result > 0 ? 'green' : 'red'"
        mat-cell *matCellDef="let item">
      {{ +item.result | currency: '$':'symbol' : '3.0-0'}}
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;">
    {{row}}</tr>
</table>

