$green: #11B479;
$red: #FD0303;
$gray: #E3E3E3;
$black: #131314;
$width: 875px;
//$width: 600px;

* {
  //font-size: 16px;
  //line-height: 19px;
  font-family: "PT Mono", sans-serif;
}


.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  justify-content: flex-start;
  padding-bottom: 50px;
}


::ng-deep {
  .m-b-75 {
    margin-bottom: 75px !important;
  }

  .m-b-90 {
    margin-bottom: 90px !important;
  }

  .m-top-bottom-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .border-like-row-wrapper {
    width: 100%;
    height: 2px;
    display: flex;

    .border-like-row {
      background-color: #F5F3F3;
      width: 100%;
      max-width: $width;
      margin: 0 auto;
    }

  }

  .mat-paginator-outer-container {
    background-color: #FBFCFF;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    font-size: 30px;

    .mat-paginator-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 56px;
      //padding: 0 8px;
      margin: 0 5px;
      flex-wrap: wrap-reverse;
      width: 100%;
      max-width: $width;
    }

    .mat-paginator-icon {
      width: 40px;
    }
  }

  body {
    background: #656972;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-autocomplete-panel {
    border-radius: 10px !important;
    background: #F4F6FD;
    border: 3px solid #E6EBFE !important;

    .mat-option-text {
      //font-size: 32px;
    }
  }

  mat-form-field.mat-focused {
    .mat-form-field-flex {
      border-color: #FFC83C !important;
    }
  }

  .search {
    width: 100%;
    max-width: $width;
    margin: 0 auto 126px;
    //margin-bottom: 126px;
    .example-form {
      margin: 0 5px;
    }

    .search-form-field {
      width: 100%;

      .mat-form-field-flex {
        border-radius: 10px;
        background: #F4F6FD;
        border: 3px solid #E6EBFE;
        padding: 9px 18px 15px 18px;
        //padding: 5px 10px;
        input {
          font-weight: 400;
          font-size: 20px;
          //line-height: 40px;
          color: #1F2126;
          margin-left: 10px;
        }

        input::placeholder {
          color: #1F2126;
        }
      }
    }

    input {
      font-weight: 700;
      //font-size: 24px;
    }

    mat-form-field {

    }
  }

  mat-card {
    height: 100%;
    margin: 0 auto;
    padding: 65px 0 0 0 !important;
    background-color: #FBFCFF !important;

    max-width: 1400px;
    //max-width: 1100px;
    width: 100%;

    .game-info-video-block:last-of-type {
      border: unset !important;
    }

    .game-info-video-block:first-of-type {
      margin-top: unset !important;
    }

    .game-info-video-block-wrapper {
      margin-top: 50px;

      .game-info-video-block {
        //display: flex;
        width: 100%;
        max-width: $width;
        font-size: 24px;
        border-bottom: 2px solid #F5F3F3;
        margin: 57px auto 0 auto;
        //margin-top: 57px;
        .title-row {
          display: flex;
          font-family: 'PT Sans Caption', sans-serif;
          font-size: 24px;
          //line-height: 20px;
          letter-spacing: 0.05em;
          color: #000000;
          margin-bottom: 33px;

          .title-link {
            margin-right: 66px;
            font-weight: 700;
            cursor: pointer;
            z-index: 2;
            position: relative;
          }

          .title-link::before {
            transform: translateX(7px) translateY(7px);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #FFC83C;
            z-index: -1;
          }

          .title-date {
            font-weight: 400;
          }
        }

        .game-name {
          font-weight: 400;
          line-height: 36px;
          margin-bottom: 28px;
        }

        .video-frame {
          width: 100%;
          height: 412px;
          margin-bottom: 94px;

        }
      }
    }

    .sidebar-container{
      .mat-drawer{
        //display: none;
        border: unset;
        background-color: inherit;
        margin-right: 10px;
        .mat-drawer-inner-container{
          overflow: hidden;
        }
      }
      .title {
        //font-family: "PT Mono", sans-serif !important;
        font-family: 'PT Mono', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
        display: flex;
        //margin-right: 1px;
        p{
          position: relative;
        }
        p.active {
          z-index: 2;
        }

        p.active::before {
          transform: translateX(7px) translateY(7px);
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: #FFC83C;
          z-index: -1;
        }

        p:hover {
          color: #FFC83C;
        }
      }

      .icon {
        //margin-left: 37px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: "PT Mono", sans-serif !important;
      }

      .icon:hover {
        color: #FFC83C;
      }
    }

    .header {
      //font-family: "PT Mono", sans-serif !important;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.05em;
      display: flex;
      align-content: center;
      justify-content: space-between;
      //border-bottom: 1px solid $gray;
      //padding: 19px 0 13px 34px;
      text-transform: uppercase;
      margin: 0 auto 100px;
      //margin: 0 auto 70px;
      max-width: $width;

      .header-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 5px;

        .right-block {
          display: flex;
          justify-content: flex-end;

          .title {
            //font-family: "PT Mono", sans-serif !important;
            font-family: 'PT Mono', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #000000;
            cursor: pointer;
            display: flex;
            margin-right: 10px;

            p.active {
              z-index: 2;
              position: relative;
              margin-right: 10px;
            }

            p.active::before {
              transform: translateX(7px) translateY(7px);
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: #FFC83C;
              z-index: -1;
            }

            p:hover {
              color: #FFC83C;
            }
          }

          .icon {
            //margin-left: 37px;
            cursor: pointer;
            font-family: "PT Mono", sans-serif !important;
          }

          .icon:hover {
            color: #FFC83C;
          }
        }


        .left-block {
          cursor: pointer;
        }

        .left-block:hover {
          color: #FFC83C;
        }
      }

    }


    mat-card-title, mat-card-subtitle {
      text-align: center;
    }

    mat-card-title {
      font-weight: 700 !important;
      margin: -4px 5px 16px 5px;
      //margin-bottom: 16px!important;
      .card-title-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: $width;
        margin: 0 auto;
        font-size: 42px;
        line-height: 47px;


        &.wrapper-shift {
          justify-content: center;
        }

        .card-title-var {
          color: #b32a20;
          margin-left: 20px;
          //font-size: 22px !important;

        }
      }
    }

    mat-card-subtitle {

      //margin-top: 16px!important;
      //margin-bottom: 77px!important;
      width: 100%;
      margin: 24px 5px 77px 5px !important;

      .subtitle-wrapper {
        //margin: 0 5px;
        display: flex;
        justify-content: flex-start;
        max-width: $width;
        //margin: 0 auto;
        margin: 16px auto 0;
        width: 100%;
        font-family: 'PT Mono', sans-serif !important;
        font-weight: 400 !important;
        font-size: 20px;
        color: #1F2126 !important;

        &.wrapper-shift {
          justify-content: center;
        }
      }
    }

    mat-card-content {
      margin: 0 5px 16px 5px;
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      background: #F3F6F9;
      //padding: 51px 51px 20px 46px;
      border-top: 2px solid #F5F3F3;
      //background: #656972;
      .footer-wrapper {
        max-width: $width;
        margin: 0 5px 100px 5px;

        .block:first-child {
          margin-top: 101px;
        }

        .block {
          margin-bottom: 77px;

          .title {
            p {
              font-family: 'PT Sans Caption', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              //line-height: 20px;
              letter-spacing: 0.05em;
              color: #000000;
              margin-bottom: 27px;
              text-transform: uppercase;
              z-index: 2;
              position: relative;
              width: fit-content;
            }

            p::before {
              content: "";
              position: absolute;
              transform: translateX(6px) translateY(3px);
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: #FFC83C;
              z-index: -1;
            }
          }

          .text {
            font-family: 'PT Mono', sans-serif;
            font-size: 14px;
            line-height: 30px;
            color: #000000;

            .email-me {
              //font-size: 20px;
              //margin-top: 24px;
              .email-me-link {
                color: $black;
                text-decoration-line: unset;
                z-index: 2;
                position: relative;
              }

              .email-me-link::before {
                content: "";
                position: absolute;
                transform: translateX(6px) translateY(3px);
                top: 5px;
                left: 0;
                bottom: 0;
                right: 0;
                background: #65B7F9;
                z-index: -1;
              }
            }
          }

          .crypt-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            margin-top: 24px;

            .item {
              cursor: pointer;
              margin-right: 3px;
              font-family: 'PT Mono', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 22px;
              color: #000000;
            }
          }
        }

        .block:nth-last-of-type(1) {
          margin-bottom: 0;
        }


        .ps {
          font-family: 'PT Mono', sans-serif;
          font-style: normal;
          font-weight: 400;
          //font-size: 20px;
          //line-height: 30px;
          color: #000000;
          margin-top: 76px;
        }
      }

    }
  }

  .table-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 42px;

    table {
      box-shadow: none !important;
      //padding: 0 5px 0 18px;
      //margin: 0 5px 0 18px;
      //margin: 0 auto;
      padding-left: 18px;
      width: 100%;
      max-width: $width;
      margin: 0 auto 120px;
      //margin-bottom: 120px;
      background-color: #FBFCFF !important;

      font-family: 'PT Sans Caption', sans-serif !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 20px;
      //line-height: 39px!important;

      thead {
        height: 35px;

        tr:first-child {
          th {
            border-bottom: none;
          }
        }
      }

      tbody {
        tr.cdk-row {
          //padding-top: 28px!important;
          td.cdk-cell {
            padding-top: 5px !important;
          }
        }

        tr {
          padding-top: 28px !important;
          border-bottom: none !important;
          //margin-bottom: 28px!important;
          td {
            padding: 24px 5px 5px 5px !important;
            font-family: 'PT Sans Caption', sans-serif !important;
            font-style: normal !important;
            font-size: 20px;
            line-height: 39px !important;
            border-bottom: none !important;
          }

          td:first-child {
            padding-left: 5px !important;
            //padding-right: 30px !important;
            text-align: left;
            //max-width: 0;
            min-width: 20px;
            //height: 39px!important;
            font-weight: 400;
          }

          td:nth-child(2) {
            font-weight: 700;
            //font-size: 30px;
            //line-height: 39px;
            color: #1F2126;
          }

          td:last-child {
            text-align: right;
            font-weight: 700;

            //padding-right: 51px !important;
          }
        }

        tr:hover {
          cursor: pointer;
          background: #e5e5e5;
        }
      }
    }

    table.users-list {
      tr {
        td:first-child{
          width: 12px!important;
        }
        td:nth-child(2) {
          font-size: 20px !important;
          font-weight: 400;
        }

        td:first-child {
          //padding-right: 10px !important;
        }
      }
    }

  }

  th {
    text-align: left;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  .button-row {
    //display: flex;
    max-width: $width;
    border-bottom: 3px solid #F5F3F3;
    margin: 0 auto;
    //margin-right: 23px;
    button {
      padding: 18px 18px 18px 12px !important;
      margin-right: 30px;
    }

    button:last-child {
      margin-right: 23px;
    }

    .mat-button-wrapper {
      font-family: 'PT Mono', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      //line-height: 36px;
    }

    .active {
      z-index: 2;

      .mat-button-wrapper {
        font-weight: 700;
      }
    }

    .active::before {
      content: "";
      position: absolute;
      top: 85%;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFC83C;
      z-index: -1;
    }

    .user {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-family: 'PT Mono', sans-serif !important;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      //line-height: 36px;
      color: #1F2126;
      margin-bottom: 17px;

      .user-total {
        //font-size: 30px!important;
      }
    }
  }

  .name-row {
    width: 80%;
    display: flex;
    margin: 0 auto 30px auto;
    height: 50px;
    flex-direction: column;

    .name-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .see-more {
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1F2126;
    cursor: pointer;
    z-index: 2;
    position: relative;
    max-width: $width;
    margin: 0 auto 120px;
    display: flex;
    justify-content: flex-end;
    //margin-left: auto;
    div {
      width: fit-content;
      //max-width: 110px;
      position: relative;

    }

    div::before {
      transform: translateX(6px) translateY(3px);
      content: "";
      position: absolute;
      top: 8px;
      left: 2px;
      bottom: 0;
      right: 0;
      background: #FFC83C;
      z-index: -1;
      max-width: 110px;
    }
  }

  //.see-more::before {
  //    transform: translateX(6px) translateY(3px);
  //    content: "";
  //    position: absolute;
  //    top: 8px;
  //    left: 2px;
  //    bottom: 0;
  //    right: 0;
  //    background: #FFC83C;
  //    z-index: -1;
  //}
  @media only screen and (max-width: 414px) {
    ::ng-deep {
      .m-b-90 {
        margin-bottom: 40px !important;
      }

      mat-card {
        mat-card-subtitle {
          margin-bottom: 30px !important;
        }

        .mat-paginator-outer-container {
          font-size: 20px;

          .mat-paginator-icon {
            width: 28px;
          }
        }
        .mat-drawer{

        }
        .header {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 50px;
          align-content: flex-start;

          .header-wrapper {
            align-items: center;
            margin: 0 20px;

            .right-block {
              display: none;

              .title {
                font-size: 14px;
              }
            }

            .right-block-mobile {
              display: flex;

              .mobile-icon-search {
                margin-right: 18px;

                .menu-icon {
                  width: 24px;
                  height: 24px;
                  background-color: $black;
                  -webkit-mask-image: url('../assets/211817_search_strong_icon.svg');
                  mask-image: url('../assets/211817_search_strong_icon.svg');
                  mask-size: cover;
                  //color: white;
                  //background-image: url('../assets/211817_search_strong_icon.svg');
                  //background-size: cover;
                  color: #5A5D67;
                  margin-bottom: 0;
                }
              }

              .mobile-icon-menu {

                .menu-icon {
                  width: 24px;
                  height: 24px;
                  background-color: $black;
                  -webkit-mask-image: url("../assets/326672_menu_icon.svg");
                  mask-image: url("../assets/326672_menu_icon.svg");
                  mask-size: cover;
                  //background-image: url("../assets/326672_menu_icon.svg");
                  //background-size: cover;
                  color: #5A5D67;
                  margin-bottom: 0;

                }
              }
            }
          }
        }

        .card-title-wrapper {
          font-size: 28px !important;
          line-height: 32px !important;
        }

        .search {
          margin: 0 auto 30px;

          .mat-form-field-flex {
            padding: 0 5px !important;

            input {
              font-size: 16px !important;
            }
          }
        }

        .button-row {
          button {
            padding: 5px !important;
          }

          button:last-child {
            margin-right: 0;
          }

          .mat-button-wrapper {
            font-size: 14px;
            //line-height: 36px;
          }

          .user {
            font-size: 20px;
          }
        }

        .table-wrapper {
          margin: 0 auto 24px;
          .bottom-border-mobile{
            display: none;
          }
          table.users-list {
            tr {
              td {
                font-size: 14px !important;
              }
              td:nth-child(2) {
                font-size: 14px !important;
              }
            }
          }

          table {
            padding-left: 5px;
            margin: 0 auto 60px;
            //font-size: 18px!important;
            thead{
              height: 10px;
            }
            tbody {
              tr {
                padding-top: 18px !important;

                td {
                  padding: 12px 5px 5px 5px !important;;
                  font-size: 18px !important;
                  line-height: 24px !important;
                }
              }
            }
          }
        }

        .footer {
          .footer-wrapper {
            margin: 0 15px 50px 15px;

            .block:first-child {
              margin-top: 50px;
            }

            .block {
              margin-bottom: 38px;

              .title {
                p {
                  font-size: 14px;
                  margin-bottom: 18px;
                }
              }

              .text {
                font-size: 14px;
                line-height: 20px;
              }

              .email-me {
                font-size: 14px;
                margin-top: 18px;
              }

              .crypt-info {
                margin-top: 18px;

                .item {
                  font-size: 16px;
                  line-height: 20px;
                }

              }
            }
          }
        }

        .game-info-video-block-wrapper {
          margin-top: 26px;
          width: 99%;

          .game-info-video-block {
            font-size: 16px;
            margin: 30px auto 0 auto;

            .title-row {
              font-size: 16px;
              line-height: 18px;
              margin-bottom: 28px;

              .title-link {
                margin-right: 48px;
              }
            }

            .game-name {
              line-height: 28px;
              margin-bottom: 18px;
            }

            .video-frame {
              width: 100%;
              //height: 350px;
              margin-bottom: 60px;

            }
          }
        }

        .see-more {
          font-size: 18px;
          line-height: 26px;
          margin: 0 5px 60px;

        }
      }

      .card-title-wrapper {
        //flex-wrap: wrap !important;
        //justify-content: space-evenly !important;
        &.wrapper-shift {
          justify-content: center;
        }
      }

      .subtitle-wrapper {
        justify-content: center !important;
        font-size: 14px !important;
        display: none!important;
        &.wrapper-shift {
          display: block!important;
          justify-content: center;
        }
      }

      .card-title-var {
        margin-left: 0 !important;
      }


      .mat-card-title {
        line-height: 26px;
      }

      mat-card {
        width: 96% !important;
        padding: 20px 0 0 0 !important;
      }
    }

  }

  body.dark {
    .mat-autocomplete-panel {
      background: $black !important;
      border: 3px solid #4B4D56 !important;

      .mat-option-text {
        color: white !important;

      }
    }

    mat-card {
      color: white!important;
      background: $black !important;
      .sidebar-container{
        background-color: $black;
        color: white!important;
        .mat-drawer{
          //border: unset;
          background-color: $black;
          margin-right: 10px;
          .mat-drawer-inner-container{
            overflow: hidden;
            .icon{
              color: white;
            }
          }
        }
        .mat-drawer-content{
          background-color: $black;
          .right-block-mobile {
            .mobile-icon-search {
              .menu-icon {
                background-color: white;
                color: white;
              }
            }
            .mobile-icon-menu {

              .menu-icon {
                background-color: white;
                color: white;
              }
            }
          }
        }
        .title {
          //font-family: "PT Mono", sans-serif !important;
          font-family: 'PT Mono', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: white!important;
          cursor: pointer;
          display: flex;
          //margin-right: 1px;
          p{
            position: relative;
          }
          p.active {
            z-index: 2;
          }

          p.active::before {
            transform: translateX(7px) translateY(7px);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #FFC83C;
            z-index: -1;
          }

          p:hover {
            color: #FFC83C;
          }
        }

        .icon {
          //margin-left: 37px;
          text-transform: uppercase;
          cursor: pointer;
          font-family: "PT Mono", sans-serif !important;
        }

        .icon:hover {
          color: #FFC83C;
        }
      }

      .border-like-row-wrapper {
        .border-like-row {
          background-color: #4B4D56 !important;
        }
      }

      .mat-paginator-outer-container {
        color: white;
        background-color: $black;

        span {
          color: white;
        }
      }


      .search {
        color: white;

        .search-form-field {
          .mat-form-field-flex {
            background: $black !important;
            border: 3px solid #4B4D56 !important;

            input {
              color: white !important;
            }

            input::placeholder {
              color: #4B4D56;
            }
          }
        }
      }


      .game-info-video-block-wrapper {
        .game-info-video-block {
          border-bottom: 2px solid #4B4D56 !important;

          .title-row {
            color: white !important;
          }
        }

        .game-info-video-block:last-of-type {
          border-bottom: unset !important;
        }
      }


      .header {

        .header-wrapper {
          .title {
            color: white;
          }
        }

      }

      mat-card-title {
        .card-title-wrapper {
          .card-title-var {
            color: #b32a20;
          }
        }
      }

      mat-card-subtitle {
        .subtitle-wrapper {
          color: white !important;
        }
      }

      .footer {
        background: $black !important;
        border-top: 2px solid #4B4D56 !important;

        .footer-wrapper {
          .block {
            .title {
              p {
                color: white;
              }

              p::before {
                content: "";
                position: absolute;
                background: $black;
                z-index: -1;
              }
            }

            .text {
              color: #B2B8CF !important;

              .email-me {
                white-space: nowrap;
                .email-me-link {
                  color: white;
                }

                //.email-me-link::before {
                //  content: "";
                //  position: absolute;
                //  transform: translateX(6px) translateY(3px);
                //  top: 5px;
                //  left: 0;
                //  bottom: 0;
                //  right: 0;
                //  background: #65B7F9;
                //  z-index: -1;
                //}
              }
            }
          }

          .crypt-info {
            .item {
              color: white;
            }
          }

          .ps {
            color: white;
          }
        }

      }


      .table-wrapper {
        //margin-bottom: 43px;
        table {
          background-color: $black !important;
          color: white !important;

          tbody {

            tr {
              td:first-child {
                color: white !important;
              }

              td:nth-child(2) {
                color: white !important;
              }
            }

            tr:hover {
              background: #4B4D56;
            }
          }
        }
      }

      .green {
        color: $green;
      }

      .red {
        color: $red;
      }

      .button-row {
        border-bottom: 3px solid #4B4D56;


        .active::before {

          background: #FFC83C;
        }

        .user {

          color: white !important;
        }
      }


      .see-more {
        color: white !important;

        div::before {

          background: #FFC83C;
        }
      }


    }

  }
}
