$green: #11B479;
$red: #FD0303;
$gray: #E3E3E3;
* {
  //font-size: 16px;
  //line-height: 19px;
  font-family: "PT Mono", sans-serif;
}


.container {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  justify-content: flex-start;
  padding-bottom: 50px;
}




::ng-deep {
  .mat-paginator-outer-container{
    background-color: #FBFCFF;
    font-size: 32px;

    .mat-paginator-icon{
      width: 40px;
    }
  }
  body {
    background-color: #e5e5e5;
  }
  .mat-form-field-underline {
    display: none;
  }
  .mat-autocomplete-panel{
    border-radius: 10px !important;
    background: #F4F6FD;
    border: 3px solid #E6EBFE!important;
    .mat-option-text{
      font-size: 32px;
    }
  }
  .search {
    width: 100%;
    margin-bottom: 126px;

    .search-form-field {
      width: 100%;

      .mat-form-field-flex {
        border-radius: 10px !important;
        background: #F4F6FD!important;
        border: 3px solid #E6EBFE!important;
        padding: 17px 18px 23px 18px;
        input{
          font-weight: 700;
          font-size: 36px;
          line-height: 40px;

          color: #1F2126;
        }
      }
      //.mat-form-field-label-wrapper {
      //  mat-label{
      //      font-family: 'PT Mono', sans-serif;
      //      font-style: normal;
      //      font-weight: 700;
      //      font-size: 36px;
      //      color: #1F2126;
      //    line-height: 40px;
      //
      //  }
      //}

    }

    input {
      font-weight: 700;
      font-size: 24px;
    }

    mat-form-field {

    }
  }

  mat-card {
    height: 100%;
    margin: 0 auto;
    padding: 65px 5px !important;
    background-color: #FBFCFF!important;

    max-width: 1390px;
    width: 100%;

    .game-info-video-block:last-of-type{
      border: unset!important;
    }
    .game-info-video-block:first-of-type{
      margin-top: unset!important;
    }
    .game-info-video-block-wrapper{
      .game-info-video-block {
        //display: flex;
        width: 100%;
        font-size: 24px;
        border-bottom: 2px solid #F5F3F3;
        margin-top: 57px;
        .title-row {
          display: flex;
          font-family: 'PT Sans Caption', sans-serif;
          line-height: 20px;
          letter-spacing: 0.05em;
          color: #000000;
          margin-bottom: 33px;
          .title-link{
            margin-right: 66px;
            font-weight: 700;
            cursor: pointer;
            z-index: 2;
            position: relative;
          }
          .title-link::before{
            transform: translateX(7px) translateY(7px);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #FFC83C;
            z-index: -1;
          }
          .title-date{
            font-weight: 400;
          }
        }
        .game-name{
          font-weight: 400;
          line-height: 36px;
          margin-bottom: 28px;
        }
        .video-frame {
          width: 100%;
          height: 412px;
          margin-bottom: 94px;

        }
      }
    }



    .header {
      //font-family: "PT Mono", sans-serif !important;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.05em;
      display: flex;
      align-content: center;
      justify-content: space-between;
      //border-bottom: 1px solid $gray;
      //padding: 19px 0 13px 34px;
      text-transform: uppercase;
      margin-bottom: 100px;
      .title {
        //font-family: "PT Mono", sans-serif !important;
        font-family: 'PT Mono', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
        display: flex;
        .episode-id {
          margin-left: 20px;
        }
        p.active {
          z-index: 2;
          position: relative;
        }
        p.active::before{
          transform: translateX(7px) translateY(7px);
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: #FFC83C;
          z-index: -1;
        }
      }
    }

    .icon {
      font-family: "PT Mono", sans-serif !important;
    }

    mat-card-title, mat-card-subtitle {
      text-align: center;
    }

    mat-card-title {
      font-weight: 700 !important;
      font-size: 42px!important;
      line-height: 47px!important;
      margin-bottom: 16px!important;
      .card-title-wrapper{
        display: flex;
        justify-content: flex-start;
        &.wrapper-shift {
          justify-content: center;
        }
        .card-title-var {
          color: #b32a20;
          margin-left: 20px;
        }
      }
    }

    mat-card-subtitle  {
      font-family: 'PT Sans Caption', sans-serif !important;
      font-weight: 400!important;
      font-size: 24px!important;
      line-height: 31px!important;
      color: #1F2126!important;
      margin-top: 16px!important;
      margin-bottom: 77px!important;
      &.wrapper-shift {
        text-align: left;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      height: 100%;
      //padding: 51px 51px 20px 46px;
      border-top: 2px solid #F5F3F3;
      //background: #656972;
      .block:first-child{
        margin-top: 101px;
      }

      .block {
        margin-bottom: 77px;

        .title {
          p {
            font-family: 'PT Sans Caption', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #000000;
            margin-bottom: 27px;
            text-transform: uppercase;
            z-index: 2;
            position: relative;
            width: fit-content;
          }
          p::before{
            content: "";
            position: absolute;
            transform: translateX(6px) translateY(3px);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #FFC83C;
            z-index: -1;
          }
        }

        .text {
          font-family: 'PT Mono', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: #000000;
        }
      }

      .block:nth-last-of-type(1) {
        margin-bottom: 0;
      }

      .crypt-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        .item {
          cursor: pointer;
          margin-right: 3px;
          font-family: 'PT Mono', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 22px;
          color: #000000;
        }
      }
      .ps{
        font-family: 'PT Mono', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-top: 76px;
      }
    }
  }

  table {
    box-shadow: none !important;
    padding-left: 18px;
    width: 100%;
    margin-bottom: 120px;
    background-color: #FBFCFF!important;

    font-family: 'PT Sans Caption', sans-serif!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-size: 30px!important;
    line-height: 39px!important;

    thead {
      height: 53px;
      tr:first-child {
        th {
          border-bottom: none;
        }
      }
    }

    tbody {
      tr.cdk-row{
        //padding-top: 28px!important;
          td.cdk-cell{
            padding-top: 28px!important;
          }
      }
      tr {
        //padding-top: 28px!important;
        border-bottom: none!important;
        //margin-bottom: 28px!important;
        td {
          padding: 5px !important;
          font-family: 'PT Sans Caption', sans-serif!important;
          font-style: normal!important;
          font-size: 30px!important;
          line-height: 39px!important;
          border-bottom: none !important;
        }
        td:first-child {
          padding-left: 5px !important;
          padding-right: 60px!important;
          text-align: left;
          min-width: 39px!important;
          height: 39px!important;
          font-weight: 400;
          max-width: 135px;

        }
        td:nth-child(2){
          font-weight: 700;
          font-size: 30px;
          color: #1F2126;
          line-height: 39px;
        }

        td:last-child {
          text-align: right;
          font-weight: 700;
          //padding-right: 51px !important;
        }
      }
      tr:hover {
        cursor: pointer;
        background: #e5e5e5;
      }
    }
  }

  th {
    text-align: left;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  .button-row {
    display: flex;
    border-bottom: 3px solid #F5F3F3;
    //margin-right: 23px;
    button {
      padding: 18px 18px 18px 12px !important;
      margin-right: auto;
    }
    button:last-child {
      margin-right: 23px;
    }
    .mat-button-wrapper {
      font-family: 'PT Mono', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      //line-height: 36px;

    }

    .active {
      z-index: 2;
      .mat-button-wrapper {
        font-weight: bold;
      }
    }
    .active::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFC83C;
      z-index: -1;
    }
    .user {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-family: 'PT Mono', sans-serif !important;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      color: #1F2126;
      margin-bottom: 17px;
      .user-total {
        font-size: 30px!important;
      }
    }
  }

  .name-row {
    width: 80%;
    display: flex;
    margin: 0 auto 30px auto;
    height: 50px;
    flex-direction: column;
    .name-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .see-more{
    font-family: 'PT Sans Caption', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #1F2126;
    width: fit-content;
    cursor: pointer;
    z-index: 2;
    position: relative;
    margin-left: auto;
  }
  .see-more::before {
      transform: translateX(6px) translateY(3px);
      content: "";
      position: absolute;
      top: 8px;
      left: 2px;
      bottom: 0;
      right: 0;
      background: #FFC83C;
      z-index: -1;
  }
}
