<div class="button-row">
  <div class="user">
    <div class="user-name">{{userId}}</div>
    <div class="user-total" [ngClass]="total > 0 ? 'green' : 'red'">{{total| currency: '$':'symbol' : '3.0-0' }}</div>
  </div>
</div>
<div *ngIf="userData">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td class="td" mat-cell *matCellDef="let item; let i = index">
          {{ item.date | date: '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="e">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td class="td" mat-cell *matCellDef="let item">
          {{ item.e }}
        </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td class="td"
            [ngClass]="item.score > 0 ? 'green' : 'red'"
            mat-cell *matCellDef="let item">
          {{ +item.score| currency: '$':'symbol' : '3.0-0' }}
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" [routerLink]="(row.e) ? ['/live', row.e] : null">
        {{row}}</tr>
    </table>
    <mat-paginator
      hidePageSize
      pageSize="20"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
    <div class="border-like-row">

    </div>
  </div>



</div>
